:root {
  font-size: 10px;
  background: #e4e5ed;
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  margin: 0;
  font:
    1.6rem/1.5 'SUIT Variable',
    sans-serif;

  /* CSS 중첩 규칙(Nesting Rules)  */
  & * {
    box-siziing: inherit;
  }
}

img {
  vertical-align: middle;
}

button {
  cursor: pointer;

  &:hover:not(:disabled) {
  }

  &:disabled {
    cursor: not-allowed;
  }
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

[hidden] {
  display: none !important;
}
